@model IEnumerable<ASP.NET_CORE_7_MVC.Models.Domain.Person>

<div class="mt-2" style="width: fit-content">
    <div class="row">
        <h2>Person</h2>
        <div class="col-md-4">
            <a href="/Person/AddPerson" class="btn btn-success">Add Person</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                <tr>
                    <td>@person.Name</td>
                    <td>@person.Email</td>
                    <td>
                        <a href="/Person/EditPerson?id=@person.Id" class="btn btn-primary">Edit</a>
                        <a href="/Person/DeletePerson?id=@person.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
                @TempData["msg"]
            </div>
        }
    </div>
</div>