@model ASP.NET_CORE_7_MVC.Models.Domain.Person

<div class="mt-2" style="width: fit-content">
    <form asp-action="EditPerson">
        <h2>Edit Person</h2>
        <label asp-for="Name" type="hidden" class="form-label">Name</label>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" />
            <span class="text-danger" asp-validation-for="Email"></span>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="mb-3">
                @TempData["msg"]
            </div>
        }

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="/Person/DisplayPersons" class="btn btn-primary">Back</a>
        </div>
    </form>
</div>